In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 1
%aimport mapster
from os import listdir
import pandas as pd
import time
import numpy as np

In [9]:
watertown = pd.read_pickle('./pickles/watertown.pkl')
watertown.head()

                                                           address        lat  \
px      py
1267800 2642875       47-65 Eldredge Street, Newton, MA 02458, USA  42.354168
        2642900        49-93 Baldwin Street, Newton, MA 02458, USA  42.355753
        2642925  Centre Street & Interstate 90 & Washington Str...  42.357339
        2642950         51 Jefferson Street, Newton, MA 02458, USA  42.358924
        2642975           37 Hunt Street, Watertown, MA 02472, USA  42.360510

                       lng      pizza pizza-source   burger burger-source  \
px      py
1267800 2642875 -71.183853  26.666667     yelp-min  33.8125      yelp-min
        2642900 -71.183853  18.814815     yelp-min  21.8125      yelp-min
        2642925 -71.183853  10.370370     yelp-min  11.1250      yelp-min
        2642950 -71.183853  13.728395     yelp-min  15.3750      yelp-min
        2642975 -71.183853  26.123457     yelp-min  31.0000      yelp-min

                  mexican mexican-source     chinese chinese-source     thai  \
px      py
1267800 2642875  110.3750       yelp-min  103.510204       yelp-min  25.3125
        2642900  110.1250       yelp-min   88.979592       yelp-min  14.2500
        2642925  102.4000       yelp-min   74.285714       yelp-min   3.5000
        2642950  110.3125       yelp-min   71.918367       yelp-min   7.1250
        2642975  126.0000       yelp-min   59.510204       yelp-min  22.8125

                thai-source      coffee coffee-source    diner diner-source  \
px      py
1267800 2642875    yelp-min  109.562500      yelp-min  74.5000     yelp-min
        2642900    yelp-min  106.187500      yelp-min  63.4375     yelp-min
        2642925    yelp-min   17.142857      yelp-min  52.1875     yelp-min
        2642950    yelp-min   93.125000      yelp-min  50.3750     yelp-min
        2642975    yelp-min   83.562500      yelp-min  40.8125     yelp-min

                     indian indian-source
px      py
1267800 2642875  179.625000      yelp-min
        2642900  168.562500      yelp-min
        2642925   58.320988      yelp-min
        2642950  155.500000      yelp-min
        2642975  145.937500      yelp-min

In [4]:
jamaica_plain = pd.read_pickle('./pickles/jamaica_plain.pkl')
jamaica_plain.keys()

Index([u'address', u'lat', u'lng', u'pizza', u'pizza-source', u'burger', u'burger-source', u'mexican', u'mexican-source', u'chinese', u'chinese-source', u'thai', u'thai-source'], dtype='object')

In [44]:
lat,lng = 42.354168, -71.183853

opx,opy = 1267800, 2642875

In [24]:
gres=512
tilesize=256
z = -np.log((1+np.sin(lat*np.pi/180.))/(1-np.sin(lat*np.pi/180.)))/4/np.pi*tilesize + tilesize/2
x = -np.log(np.tan((90+lat)*np.pi/360.))/4/np.pi*gres + gres/4
print z*(2**14),x*(2**14)

1551428.99227 1551428.99227

In [46]:
px,py = mapster.latlngtopixels(lat,lng,14)
print px,py
llat,llng = mapster.pixelstolatlng(px,py,14)
print llat,llng

1267800 1551428
42.3542309382 -71.1838531494

```
Chicago, IL16384
LatLng: 42.381903 , -71.113967
World origin: 128 , 128
World Coordinate: 77.43006791111111 , 94.66501654598376
Pixel Coordinate: 1268614 , 1550991
Tile Coordinate: 4955 , 6058 at Zoom Level: 14```

In [47]:
lat,lng = 42.381903 , -71.113967
zoom =14
px,py = mapster.latlngtopixels(lat,lng,zoom)
tx,ty = mapster.latlngtotile(lat,lng,zoom)
world_coord_x,world_coord_y = mapster.latlngtopixels(lat,lng,0)
ox,oy = mapster.latlngtopixels(0,0,0)
print 'World orig :'+str(ox)+ ' , '+str(oy)
print 'World coord Coordinate :'+str(world_coord_x)+ ' , '+str(world_coord_y)
print 'Pixel Coordinate :'+str(px)+ ' , '+str(py)
print 'Tile Coordinate :'+str(tx)+ ' , '+str(ty)

World orig :128 , 128
World coord Coordinate :77 , 94
Pixel Coordinate :1268614 , 1550991
Tile Coordinate :4955 , 6058

In [48]:
w = watertown.reset_index()
jp = jamaica_plain.reset_index()

In [54]:
py = [np.round(mapster.latlngtopixels(lat,lng,14)[1]/25.)*25 for lat,lng in zip(w['lat'],w['lng'])]
ppy = zip(py,w['py'])
w['py'] = py

watertown = w.set_index(['px','py'])
watertown.head()

                                                           address        lat  \
px      py
1267800 1551425       47-65 Eldredge Street, Newton, MA 02458, USA  42.354168
        1551400        49-93 Baldwin Street, Newton, MA 02458, USA  42.355753
        1551375  Centre Street & Interstate 90 & Washington Str...  42.357339
        1551350         51 Jefferson Street, Newton, MA 02458, USA  42.358924
        1551325           37 Hunt Street, Watertown, MA 02472, USA  42.360510

                       lng      pizza pizza-source   burger burger-source  \
px      py
1267800 1551425 -71.183853  26.666667     yelp-min  33.8125      yelp-min
        1551400 -71.183853  18.814815     yelp-min  21.8125      yelp-min
        1551375 -71.183853  10.370370     yelp-min  11.1250      yelp-min
        1551350 -71.183853  13.728395     yelp-min  15.3750      yelp-min
        1551325 -71.183853  26.123457     yelp-min  31.0000      yelp-min

                  mexican mexican-source     chinese chinese-source     thai  \
px      py
1267800 1551425  110.3750       yelp-min  103.510204       yelp-min  25.3125
        1551400  110.1250       yelp-min   88.979592       yelp-min  14.2500
        1551375  102.4000       yelp-min   74.285714       yelp-min   3.5000
        1551350  110.3125       yelp-min   71.918367       yelp-min   7.1250
        1551325  126.0000       yelp-min   59.510204       yelp-min  22.8125

                thai-source      coffee coffee-source    diner diner-source  \
px      py
1267800 1551425    yelp-min  109.562500      yelp-min  74.5000     yelp-min
        1551400    yelp-min  106.187500      yelp-min  63.4375     yelp-min
        1551375    yelp-min   17.142857      yelp-min  52.1875     yelp-min
        1551350    yelp-min   93.125000      yelp-min  50.3750     yelp-min
        1551325    yelp-min   83.562500      yelp-min  40.8125     yelp-min

                     indian indian-source
px      py
1267800 1551425  179.625000      yelp-min
        1551400  168.562500      yelp-min
        1551375   58.320988      yelp-min
        1551350  155.500000      yelp-min
        1551325  145.937500      yelp-min

In [55]:
tx = [mapster.pixelstotile(px,py)[0] for px,py in zip(w['px'],w['py'])]
ty = [mapster.pixelstotile(px,py)[1] for px,py in zip(w['px'],w['py'])]
w['tx'] = tx
w['ty'] = ty
watertown = w.set_index(['px','py'])

                                                           address        lat  \
px      py
1267800 1551425       47-65 Eldredge Street, Newton, MA 02458, USA  42.354168
        1551400        49-93 Baldwin Street, Newton, MA 02458, USA  42.355753
        1551375  Centre Street & Interstate 90 & Washington Str...  42.357339
        1551350         51 Jefferson Street, Newton, MA 02458, USA  42.358924
        1551325           37 Hunt Street, Watertown, MA 02472, USA  42.360510

                       lng      pizza pizza-source   burger burger-source  \
px      py
1267800 1551425 -71.183853  26.666667     yelp-min  33.8125      yelp-min
        1551400 -71.183853  18.814815     yelp-min  21.8125      yelp-min
        1551375 -71.183853  10.370370     yelp-min  11.1250      yelp-min
        1551350 -71.183853  13.728395     yelp-min  15.3750      yelp-min
        1551325 -71.183853  26.123457     yelp-min  31.0000      yelp-min

                  mexican mexican-source     chinese     ...         thai  \
px      py                                               ...
1267800 1551425  110.3750       yelp-min  103.510204     ...      25.3125
        1551400  110.1250       yelp-min   88.979592     ...      14.2500
        1551375  102.4000       yelp-min   74.285714     ...       3.5000
        1551350  110.3125       yelp-min   71.918367     ...       7.1250
        1551325  126.0000       yelp-min   59.510204     ...      22.8125

                 thai-source      coffee  coffee-source    diner  \
px      py
1267800 1551425     yelp-min  109.562500       yelp-min  74.5000
        1551400     yelp-min  106.187500       yelp-min  63.4375
        1551375     yelp-min   17.142857       yelp-min  52.1875
        1551350     yelp-min   93.125000       yelp-min  50.3750
        1551325     yelp-min   83.562500       yelp-min  40.8125

                 diner-source      indian  indian-source    tx    ty
px      py
1267800 1551425      yelp-min  179.625000       yelp-min  4952  6060
        1551400      yelp-min  168.562500       yelp-min  4952  6060
        1551375      yelp-min   58.320988       yelp-min  4952  6060
        1551350      yelp-min  155.500000       yelp-min  4952  6059
        1551325      yelp-min  145.937500       yelp-min  4952  6059

[5 rows x 21 columns]

In [69]:
w.groupby(['tx','ty'])['pizza','thai'].mean()

               pizza       thai
tx   ty
4952 6058  40.130775  68.786780
     6059  39.076570  51.565213
     6060  29.970770  28.584559
4953 6058  50.455467  52.494588
     6059  42.181697  32.590637
     6060  42.124763  38.492581
4954 6058  27.664863  74.706479
     6059  52.036390  67.097742
     6060  29.689904  32.935571

In [71]:
map_yelp_watertown = pd.read_pickle('./pickles/map_yelp_watertown.pkl')
myw = map_yelp_watertown.reset_index()
myw.head()

,px,py,search,business lat,business lng,business name,error,error-message,id,lat,lng,oauth2-ascii-error,rating,score,seconds
0,1267800,2642875,burger,42.365387,-71.181725,Wild Willy's Burgers,False,None,wild-willys-burgers-watertown,NaN,NaN,False,3.5,110.612245,1355
1,1267800,2642875,burger,42.357028,-71.186551,Buff's Pub,False,None,buffs-pub-newton,NaN,NaN,False,4.0,33.812500,541
2,1267800,2642875,burger,42.330911,-71.192151,Lee's Burger Place,False,None,lees-burger-place-newton,NaN,NaN,False,4.5,113.382716,2296
3,1267800,2642875,chinese,42.366224,-71.182322,Wonder Cafe,False,None,wonder-cafe-watertown,NaN,NaN,False,3.5,103.510204,1268
4,1267800,2642875,chinese,42.350328,-71.168994,New Hong Kong,False,None,new-hong-kong-brighton,NaN,NaN,False,3.0,117.000000,1053

In [77]:
mywmax = myw.groupby(['px','py','search'])['score'].max()
x = mywmax.reset_index()
x[:10]

        px       py   search       score
0  1267800  2642875   burger  113.382716
1  1267800  2642875  chinese  117.000000
2  1267800  2642875   coffee  166.625000
3  1267800  2642875    diner  116.937500
4  1267800  2642875   indian  226.612245
5  1267800  2642875  mexican  154.814815
6  1267800  2642875    pizza   87.500000
7  1267800  2642875     thai   73.187500
8  1267800  2642900   burger   96.163265
9  1267800  2642900  chinese  121.222222

In [78]:
ww = w.copy()

In [83]:

search = 'burger'
w.sort(['px','py'])
x.sort(['px','py'])
searches = list(set(x['search']))
for search in search:
    w[search] = x[x['search']==search]

0     33.812500
1     21.812500
2     11.125000
3     15.375000
4     31.000000
5     41.187500
6     33.061224
7     17.142857
8     26.775510
9     40.081633
10    52.081633
11    65.142857
12    84.163265
13    89.061224
14    95.510204
...
481    59.160494
482    67.407407
483    73.135802
484    79.012346
485    67.755102
486    40.244898
487    44.244898
488    49.714286
489    87.510204
490    87.020408
491    92.312500
492    78.937500
493    69.937500
494    61.500000
495    60.375000
Name: burger, Length: 496, dtype: float64

In [84]:
x[x['search'] == search]['score']

           px       py  search       score
0     1267800  2642875  burger  113.382716
8     1267800  2642900  burger   96.163265
16    1267800  2642925  burger   81.469388
24    1267800  2642950  burger  124.000000
32    1267800  2642975  burger  114.437500
40    1267800  2643000  burger   52.489796
48    1267800  2643025  burger   88.750000
56    1267800  2643050  burger   76.562500
64    1267800  2643075  burger   83.937500
72    1267800  2643100  burger   85.750000
80    1267800  2643125  burger   85.875000
88    1267800  2643150  burger   87.500000
96    1267800  2643225  burger  106.312500
104   1267800  2643250  burger  117.142857
112   1267800  2643275  burger  129.632653
120   1267800  2643300  burger  142.938776
128   1267800  2643350  burger  174.122449
136   1267800  2643375  burger  185.224490
144   1267800  2643400  burger  200.653061
152   1267800  2643425  burger  215.020408
160   1267825  2642875  burger  120.296296
168   1267825  2642900  burger  140.187500
176   1267825  2642950  burger  138.625000
184   1267825  2643000  burger   80.937500
192   1267825  2643025  burger   75.250000
200   1267825  2643050  burger   68.750000
208   1267825  2643075  burger   72.000000
216   1267825  2643100  burger   77.959184
224   1267825  2643125  burger   78.562500
232   1267825  2643150  burger   90.693878
...       ...      ...     ...         ...
3728  1268425  2643075  burger  108.489796
3736  1268425  2643100  burger  112.740741
3744  1268425  2643125  burger  163.265306
3752  1268425  2643175  burger  121.000000
3760  1268425  2643200  burger   78.122449
3768  1268425  2643225  burger   91.102041
3776  1268425  2643275  burger  114.500000
3784  1268425  2643300  burger  107.591837
3792  1268425  2643325  burger  106.775510
3800  1268425  2643350  burger  110.938776
3808  1268425  2643375  burger  121.387755
3816  1268425  2643400  burger  138.938776
3824  1268425  2643425  burger  112.000000
3832  1268450  2642875  burger   39.061728
3840  1268450  2642900  burger   44.125000
3848  1268450  2642950  burger   90.375000
3856  1268450  2642975  burger   95.812500
3864  1268450  2643000  burger  119.836735
3872  1268450  2643025  burger  105.224490
3880  1268450  2643050  burger   92.897959
3888  1268450  2643200  burger   67.346939
3896  1268450  2643225  burger   72.979592
3904  1268450  2643250  burger   78.367347
3912  1268450  2643275  burger  111.875000
3920  1268450  2643300  burger  100.750000
3928  1268450  2643325  burger   94.857143
3936  1268450  2643350  burger  113.551020
3944  1268450  2643375  burger  123.346939
3952  1268450  2643400  burger  133.061224
3960  1268450  2643425  burger  142.938776

[496 rows x 4 columns]