In [36]:
%matplotlib inline
%load_ext autoreload
%autoreload 1
%aimport mapster
import urllib2
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re

In [2]:
page = requests.get('http://boston.craigslist.org/gbs/nfb/4987267642.html')

In [3]:
html = BeautifulSoup(page.text)

In [20]:
def scrape_craigslist(city,count):
    current = 0
    
    prices = []
    housings = []
    beds = []
    sqft = []
    times = []
    links = []
    maptags = []
    lats = []
    lngs = []
    while current < count:
        payload = {'s':str(current)}
        page = requests.get('http://'+city+'.craigslist.org/search/aap',params = payload)
        print 'PAGE loaded! ',str(current)
        html = BeautifulSoup(page.text)
        for entry in html.findAll('p','row'):
            price = entry.find('span','price')
            housing = entry.find('span','housing')
            time = entry.find('time')
            link = entry.find('a','hdrlnk')
            maptag = entry.find('span','maptag')
            try:
                if maptag.text == 'map':
                    maptags.append(True)
                else:
                    maptags.append(False)
            except:
                maptags.append(False)
            try:
                links.append(link.attrs['href'])
            except:
                links.append(np.nan)
            try:
                times.append(time.attrs['datetime'])
            except:
                times.append(np.nan)
            try:
                prices.append(int(price.text[1:]))
            except:
                prices.append(np.nan)
            try:
                if re.match('.*br.*',housing.text):
                    beds.append(int(re.search('[0-9]+br',housing.text).group(0)[:-2]))
                else:
                    beds.append(np.nan)

                if re.match('.*ft.*',housing.text):
                    sqft.append(int(re.search('[0-9]+ft',housing.text).group(0)[:-2]))
                else:
                    sqft.append(np.nan)
            except:
                beds.append(np.nan)
                sqft.append(np.nan)

        current = len(prices)
    print current, ' listings found.  Finding their locations...'
    count = 0
    for tag,link in zip(maptags,links):
        if tag:
            try:
                innerpage = requests.get('http://'+city+'.craigslist.org'+link)
                innerhtml = BeautifulSoup(innerpage.text)
                mapadd = innerhtml.find('p','mapaddress')
                #print mapadd
                refs = mapadd.findAll('a')
                if re.match('.*lat.*',refs[-1]):
                    lats.append(float(re.search('lat=-?[0-9]+.[0-9]+',refs[-1].attrs['href'])))
                    lngs.append(float(re.search('lon=-?[0-9]+.[0-9]+',refs[-1].attrs['href'])))
                else:
                    mapadd = innerhtml.find('div','mapaddress').contents
                    lat,lng = mapster.lat_lng_from_address(mapadd)
                    lats.append(lat)
                    lngs.append(lng)
                count += 1
            except:
                lats.append(np.nan)
                lngs.append(np.nan)
        else:
            lats.append(np.nan)
            lngs.append(np.nan)    
            
    print 'Location determined for ',count,' listings.'
    return pd.DataFrame({'time':times,'latitude':lats,'longitude':lngs,'has map':maptags,'link':links,'price':prices,'bedrooms':beds,'square feet':sqft})

In [35]:
apikey = 'AIzaSyCjD_r09oM9iKt1N0qAP-nohPO4yGNqsUc'

In [33]:
lats = []
lngs = []
city= 'boston'
link = '/gbs/fee/4978972644.html'
innerpage = requests.get('http://'+city+'.craigslist.org'+link)
innerhtml = BeautifulSoup(innerpage.text)
mapadd = innerhtml.find('div','mapaddress')

#lats.append(re.search('lat=-?[0-9]+.[0-9]+',refs[-1].attrs['href']))
#lngs.append(re.search('lon=-?[0-9]+.[0-9]+',refs[-1].attrs['href']))
mapadd

In [34]:
mapadd.contents

[u'South Huntington Ave. at Huntington']

In [10]:

current = 0
payload = {'s':str(current)}
page = requests.get('http://'+city+'.craigslist.org/search/aap',params = payload)
print 'PAGE loaded! ',str(current)

PAGE loaded!  0

In [22]:
df

,bedrooms,has map,latitude,link,longitude,price,square feet,time
0,3,False,NaN,/gbs/fee/4962555845.html,NaN,2600,NaN,2015-04-20 13:46
1,1,True,NaN,/gbs/fee/4987800156.html,NaN,1850,575,2015-04-20 13:46
2,4,True,NaN,/gbs/fee/4978972644.html,NaN,3400,NaN,2015-04-20 13:46
3,1,False,NaN,/gbs/fee/4987783872.html,NaN,1925,425,2015-04-20 13:46
4,2,False,NaN,/gbs/fee/4977878376.html,NaN,2000,NaN,2015-04-20 13:46
5,3,False,NaN,/gbs/fee/4984900143.html,NaN,2700,NaN,2015-04-20 13:46
6,4,False,NaN,/gbs/fee/4984924398.html,NaN,3300,NaN,2015-04-20 13:46
7,4,True,NaN,/gbs/fee/4987813958.html,NaN,3300,NaN,2015-04-20 13:46
8,1,False,NaN,/gbs/fee/4987748432.html,NaN,1350,NaN,2015-04-20 13:46
9,2,True,NaN,/gbs/fee/4987813892.html,NaN,1550,NaN,2015-04-20 13:46
10,2,False,NaN,/gbs/fee/4984766362.html,NaN,2000,NaN,2015-04-20 13:46
11,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
12,3,False,NaN,/gbs/fee/4962555845.html,NaN,2600,NaN,2015-04-20 13:46
13,1,True,NaN,/gbs/fee/4987800156.html,NaN,1850,575,2015-04-20 13:46
14,4,True,NaN,/gbs/fee/4978972644.html,NaN,3400,NaN,2015-04-20 13:46
15,1,False,NaN,/gbs/fee/4987783872.html,NaN,1925,425,2015-04-20 13:46
16,2,False,NaN,/gbs/fee/4977878376.html,NaN,2000,NaN,2015-04-20 13:46
17,3,False,NaN,/gbs/fee/4984900143.html,NaN,2700,NaN,2015-04-20 13:46
18,4,False,NaN,/gbs/fee/4984924398.html,NaN,3300,NaN,2015-04-20 13:46
19,4,True,NaN,/gbs/fee/4987813958.html,NaN,3300,NaN,2015-04-20 13:46
20,1,False,NaN,/gbs/fee/4987748432.html,NaN,1350,NaN,2015-04-20 13:46
21,2,True,NaN,/gbs/fee/4987813892.html,NaN,1550,NaN,2015-04-20 13:46
22,2,False,NaN,/gbs/fee/4984766362.html,NaN,2000,NaN,2015-04-20 13:46
23,NaN,False,NaN,/gbs/nfb/4979268639.html,NaN,NaN,NaN,2015-04-20 13:43
24,3,False,NaN,/gbs/fee/4952448664.html,NaN,2475,NaN,2015-04-20 13:52
25,2,True,NaN,/gbs/fee/4987827568.html,NaN,1800,NaN,2015-04-20 13:52
26,1,True,NaN,/gbs/fee/4987817240.html,NaN,2125,NaN,2015-04-20 13:52
27,1,False,NaN,/gbs/fee/4987827548.html,NaN,2300,NaN,2015-04-20 13:52
28,3,False,NaN,/gbs/fee/4953379058.html,NaN,2760,NaN,2015-04-20 13:52
29,2,False,NaN,/gbs/nfb/4955909696.html,NaN,1995,975,2015-04-20 13:52
...,...,...,...,...,...,...,...,...
83,5,False,NaN,/gbs/fee/4948612765.html,NaN,4150,NaN,2015-04-20 13:51
84,3,False,NaN,/gbs/fee/4977943663.html,NaN,2500,NaN,2015-04-20 13:51
85,6,False,NaN,/gbs/fee/4966978493.html,NaN,4500,NaN,2015-04-20 13:51
86,5,True,NaN,/gbs/fee/4977050182.html,NaN,3900,NaN,2015-04-20 13:51
87,3,True,NaN,/gbs/fee/4981123410.html,NaN,2050,NaN,2015-04-20 13:51
88,3,False,NaN,/gbs/fee/4964840070.html,NaN,2600,NaN,2015-04-20 13:51
89,1,False,NaN,/gbs/fee/4987824035.html,NaN,1950,NaN,2015-04-20 13:51
90,1,True,NaN,/gbs/fee/4978545188.html,NaN,1695,NaN,2015-04-20 13:50
91,3,True,NaN,/gbs/fee/4977049523.html,NaN,2950,NaN,2015-04-20 13:50
92,3,False,NaN,/gbs/fee/4964920295.html,NaN,3150,NaN,2015-04-20 13:50
93,3,False,NaN,/gbs/fee/4980199938.html,NaN,2500,1100,2015-04-20 13:50
94,4,False,NaN,/gbs/fee/4987808567.html,NaN,5400,NaN,2015-04-20 13:50
95,3,False,NaN,/gbs/fee/4976743244.html,NaN,4000,2000,2015-04-20 13:50
96,2,False,NaN,/gbs/fee/4976813703.html,NaN,1950,800,2015-04-20 13:50
97,4,False,NaN,/gbs/fee/4964822065.html,NaN,3400,NaN,2015-04-20 13:50
98,2,True,NaN,/gbs/fee/4981095708.html,NaN,1725,NaN,2015-04-20 13:50
99,2,True,NaN,/gbs/fee/4977038765.html,NaN,1990,NaN,2015-04-20 13:50
100,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
101,1,True,NaN,/gbs/fee/4978545188.html,NaN,1695,NaN,2015-04-20 13:50
102,1,True,NaN,/gbs/fee/4978545188.html,NaN,1695,NaN,2015-04-20 13:50
103,3,True,NaN,/gbs/fee/4977049523.html,NaN,2950,NaN,2015-04-20 13:50
104,3,False,NaN,/gbs/fee/4964920295.html,NaN,3150,NaN,2015-04-20 13:50
105,3,False,NaN,/gbs/fee/4980199938.html,NaN,2500,1100,2015-04-20 13:50
106,4,False,NaN,/gbs/fee/4987808567.html,NaN,5400,NaN,2015-04-20 13:50
107,3,False,NaN,/gbs/fee/4976743244.html,NaN,4000,2000,2015-04-20 13:50
108,2,False,NaN,/gbs/fee/4976813703.html,NaN,1950,800,2015-04-20 13:50
109,4,False,NaN,/gbs/fee/4964822065.html,NaN,3400,NaN,2015-04-20 13:50
110,2,True,NaN,/gbs/fee/4981095708.html,NaN,1725,NaN,2015-04-20 13:50
111,2,True,NaN,/gbs/fee/4977038765.html,NaN,1990,NaN,2015-04-20 13:50
112,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df = scrape_craigslist('boston',100)

PAGE loaded!  0
PAGE loaded!  24
PAGE loaded!  46
PAGE loaded!  68
PAGE loaded!  90
113  listings found.  Finding their locations...
Location determined for  0  listings.

In [90]:
df.tail()

,bedrooms,has map,link,price,square feet,time
995,2,True,/gbs/nfb/4987267642.html,4000,NaN,2015-04-20 08:32
996,2,True,/gbs/nfb/4952857938.html,2050,955,2015-04-20 08:32
997,2,True,/bmw/abo/4944967708.html,1495,1000,2015-04-20 08:32
998,NaN,True,/gbs/fee/4978485194.html,1540,NaN,2015-04-20 08:32
999,NaN,False,NaN,NaN,NaN,NaN